
.pizzaFont{
    font-family: 'Trirong', serif;
}
a{
    font-size: 150%;
    color: blue;
}
a:link{
    text-decoration: underline;
    color: blue;
}
a:visited{
    color: purple;
}
a:hover{
    font-weight: bold;
}
a:active{
    text-decoration: none;
}
.header{
   
    padding-left: 50px;
    padding-right: 50px;
}
.spacing{
    padding-left: 50px
    
}
p1{
    font-size: 1.5em;
    font-weight: 600;
}

footer{
    text-align: center;

}
body{
    font-family: "Palatino Linotype","Book Antiqua", Palatino, serif;
}
  .tallDiv{
                height: 400px;
            }