

a{
    text-decoration: none;
    

}
a:link{
    background-color: navy;
}
a:visited{
    background-color: cyan;
}
a:hover{
    background-color: red;
    text-decoration: underline;
  
   
   }
  
table{
   vertical-align: middle;
    text-align: center;
    width: 600px;
    
}
  
td{
    font-style: italic;
    border-bottom: 1px solid;
}
    /*Changes color of a Table Row when hovered over
    tr:hover {background-color: #f5f5f5} 
    */
    tr:nth-child(even) {background-color: gainsboro}
    
    
#movement{
    
    padding-left: 625px;
}

   
   li{
        font-style: italic;
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        transition: font-size 1s;
   }
   li:hover {
       font-size: 1.5em;
   }
  
   
   .pic{
       
       margin: 0 auto;
       background: #000;
   }