 
   .pic{
       
       margin: 0 auto;
       background: #000;
   }

td{
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid;
}
th{
    text-align: center;
}
    /*Changes color of a Table Row when hovered over
    tr:hover {background-color: #f5f5f5} 
    */
    tr:nth-child(even) {background-color: gainsboro}
